body {
    background-color: rgb(255,255,240);
}
.main-color {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: rgb(255,255,240) !important;
    font-size: 24px;
}
.main-Btn{
    background-color: rgb(255,255,240);
    margin-right: 6px;
}
.caro-size {
    height:600px;
    width:600px;
    /* text-align: center; */
}
.equal {
    margin: 0 auto !important;
}
