body {
    background-color: rgb(255,255,240);
}
.main-color {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: rgb(255,255,240) !important;
    font-size: 24px;
}
.main-Btn{
    background-color: rgb(255,255,240);
    margin-right: 6px;
    margin-left:6px;
}
.main-Dark{
    background-color: rgb(32,178,170);
}
.caro-size {
    height:600px;
    width:600px;
    /* text-align: center; */
}
.equal {
    margin: 0 auto !important;
}
.issue {
    background-color: rgb(210,80,85);
    font-size: 18px;
}
.contain {
    margin-left: 20px;
    margin-bottom: 20px;
}
.quiz {
    /* position:fixed; */
    /* right:20px;
    top:200px; */
    height:140px;
    width:140px;
}
.nav {
    margin-right:10px !important;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
